.btn{
  border-radius:50%;
  display:block;
  width:35px !important;
  height:35px !important;
  padding : 0 !important
  
}

.dot-warning {
    height: 15px;
    width: 15px;
    background-color: #ffcc00;
    border-radius: 50%;
    display: inline-block;
  }
.dot-online {
    height: 15px;
    width: 15px;
    background-color: #4bb543;
    border-radius: 50%;
    display: inline-block;
  }

.dot-offline {
    height: 15px;
    width: 15px;
    background-color: #D9534F;
    border-radius: 50%;
    display: inline-block;
  }

  .fa-info::before{
    font-size: 14px;
  }

  .label {
    font-size:11px;
    color: white;
    padding: 8px;
  }
  
  .success {background-color: #4CAF50;} /* Green */
  .info {background-color: #2196F3;} /* Blue */
  .warning {background-color: #ff9800;} /* Orange */
  .danger {background-color: #f44336;} /* Red */ 
  .other {background-color: #e7e7e7; color: black;} /* Gray */