.dot-online {
    height: 10px;
    width: 10px;
    background-color: #4bb543;
    border-radius: 50%;
    display: inline-block;
  }

.dot-offline {
    height: 10px;
    width: 10px;
    background-color: #D9534F;
    border-radius: 50%;
    display: inline-block;
  }


.col-icon{
    margin-top: auto;
    margin-bottom: auto;
}

.desc-div{
    margin-top:auto;
    margin-bottom:auto;
    margin-left: 0px !important;
    padding-left: 0px !important;
}


.desc-div p{
    height:15px;
    font-size:12px !important;
    margin-bottom :0em;
}