<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/logo.png"/>
        </div>
        
    </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <!-- <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
     -->
  </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li routerLinkActive="active" *ngFor="let broker of getBrokers()"  class=" sidenav-footer nav-item" >
          <a class="nav-link " >
            <div class='row'>
              <div class='col-2 col-icon'>
                <div *ngIf="broker.online === 1" class="dot-online"></div>
                <div *ngIf="broker.online === 0" class="dot-offline"></div>
              </div>
              <div class='col-10 desc-div'>
                <p class="desc-broker"><b>{{broker.name}}</b></p>
                <p class="desc-broker">{{broker.ip}}</p>
              </div>
            </div>
          </a>
      </li>
    </ul>
</div>
